<p>***SITE NAME*** is about creating a single repository for tournament and event information for the Warhammer community.</p>
	<p>I won't claim to be an exceptional WHFB player, but I do enjoy traveling to and participating in events. I was inspired to build this site after going to a few tournaments in the Mid-Atlantic and constantly hearing about other events from fellow participants. Afterwards, I would scour the internet trying to track down the most up-to-date information from half a dozen different blogs/forums/sites and still not find everything on the horizon.</p>
<p>This is my attempt to create a single event repository for our community. Here you will be able to login and create events, including posts with location information, any relevant hotel information, expected turnout, any history you find relevant, cost, and rules. You'll also be able to tag events by region (for all you masters players), and search by location.</p>
<p>My hope is that this tool will increase turnout to events and increase their visibility within the community.</p>
<p>Have fun!</p>
<p>-Kris</p>